body {
    background: lightblue;
    color: white;
    padding: 60px 0;
}

h1 {
    text-align: center;
}

.flex-outer li, .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-outer > li > label, .flex-outer li p {
    flex: 1 0 120px;
    max-width: 250px;
    color: black;
}

.flex-outer > li > label + *, .flex-inner {
    flex: 1 0 200px;
    max-width: 650px;
}

.flex-outer li button {
    margin-left: 0px;
    padding: 8px 16px;
    border: none;
    background-color: white;
    color: black;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.flex-inner li {
    width: 100px;
    color: black;
}

.flex-inner {
    justify-content: space-between;
    padding: 0 8px;
}

.flex-outer > li:not(:last-child) {
    margin-bottom: 25px;
}